html * {
  box-sizing: border-box;
  font-family: "Baloo 2", helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: auto;
  height: 100%;
}

h2 {
  margin: 0px;
}

.background {
  background-image: url("modern.jpeg");
  background-color: #fbfbfc;
  opacity: 0.6;
  height: 100%;
  overflow: hidden;
}

.header {
  opacity: 1;
  margin: auto;
  text-align: center;
	width: 420px;/* 420px; */
	height: 450px; /* 595px */
  /* margin: 30px; */
	margin-top: 80px;
	margin-bottom: 35px;
	padding: 32px;
	border: 1px solid #e7e2f2;
	border-radius: 5px;
	background-color: white;
  color: black;
}

#play {
  background-color: #906d94;
  color: white;
}
