html * {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: auto;
  background-image: url("modern.jpeg");
  background-color: #fbfbfc;
}

h1 {
  text-align: center;
  margin: auto;
}

.fleft {
  float: left;
}

.left {
  width: 25%;
}

.middle {
  width: 50%
}

.right {
  width: 25%;
}

.hidden3 {
  display: none;
}

.hidden4 {
  display: none;
}

.hidden5 {
  display: none;
}
